/* Герой */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4c4c4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/fon.jpg);
    background-size: cover;
  }
  .hero__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .hero__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }