
.jobs {
    padding-top: 0;
    @media  screen and (max-width: 1199px) {
      display: none;
    }
  }
  .jobs__list {
    display: flex;
  }
  .jobs__item:not(:last-child) {
    margin-right: 30px;
  }
  .job-thumb {
    position: relative;
  }
  .job-thumb__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .job-thumb__img {
    display: block;
  }